<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title></title>

<link rel="stylesheet" href="/static/layui/css/layui.css">

<style>
body{padding: 20px; /*overflow-y: scroll;*/}
</style>
</head>
<body>
<form class="layui-form layui-form-pane" action="">
  	<div class="layui-form-item layui-form-text">
	    <label class="layui-form-label">题目内容</label>
	    <div class="layui-input-block">
	      <textarea placeholder="请输入内容" class="layui-textarea" style="min-height:50px" id="title"></textarea>
	    </div>
  	</div>
	<div class="layui-form-item" pane="">
	    <label class="layui-form-label">问题答案</label>
	    <div class="layui-input-block">
	      	<input type="checkbox" name="answer" value="A"  lay-skin="primary" title="A">
	      	<input type="checkbox" name="answer" value="B"  lay-skin="primary" title="B">
	      	<input type="checkbox" name="answer" value="C"  lay-skin="primary" title="C">
			<input type="checkbox" name="answer" value="D"  lay-skin="primary" title="D">
			<input type="checkbox" name="answer" value="E"  lay-skin="primary" title="E">
			<input type="checkbox" name="answer" value="F"  lay-skin="primary" title="F">
	    </div>
    </div>
	
	<div class="layui-form-item">
	    <label class="layui-form-label">选项A</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerA" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
	    <label class="layui-form-label">选项B</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerB" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
	    <label class="layui-form-label">选项C</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerC" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
	    <label class="layui-form-label">选项D</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerD" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
	    <label class="layui-form-label">选项E</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerE" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
	<div class="layui-form-item">
	    <label class="layui-form-label">选项F</label>
	    <div class="layui-input-block">
	        <input type="text" id="AnswerF" lay-verify="required" autocomplete="off" class="layui-input">
	    </div>
	</div>
</form>

<div class="site-demo-button" style="margin-bottom: 0; text-align: right; "  >
  <button class="layui-btn " data-type="Save" onclick="Save()">保存</button>
</div>


<script type="text/html" id="toolbarDemo">
  <i class="layui-icon">&#xe654;</i>
  <i class="layui-icon">&#xe640;</i>
</script>

         
<script src="/static/layui/layui.js" charset="utf-8"></script>

<script src="/static/js/lib/jquery1.11.3.min.js"></script>
<script src="/static/js/lib/jquery.helper.js"></script>

<script>
	var index = parent.layer.getFrameIndex(window.name);

	function getUrlVars(){  
	    var vars = [], hash;  
	    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
	    for(var i = 0; i < hashes.length; i++)  
	    {  
	        hash = hashes[i].split('=');  
	        vars.push(hash[0]);  
	        vars[hash[0]] = hash[1];  
	    }  
	    return vars;  
	}  
	  
	function getUrlVar(name){  
	    return getUrlVars()[name];  
	}
	
	var question = JSON.parse(decodeURIComponent(getUrlVar('question')))
	
	$("#title").val(question.Title)
	console.log(question)
	
	options = JSON.parse(question.Options)
	console.log(options)
	
	options.forEach(function(option){
		$("#Answer"+option.OptionKey).val(option.OptionDesc);
	})
	
	
	question.Answer.split(":").forEach(function(value){
		if (value.trim().length > 0){
			$("input:checkbox[name=answer][value="+value+"]").attr("checked",true);
		}
	})
	
	layui.use(['form','element','upload'], function(){
		var $ = layui.jquery
		,element = layui.element
		,upload = layui.upload; //Tab的切换功能，切换事件监听等，需要依赖element模块
		
		$('.site-demo-active').on('click', function(){
			var othis = $(this), type = othis.data('type');
		 	active[type] ? active[type].call(this, othis) : '';
		});
		
		upload.render({
			elem: '#test8'
			,url: '/upload/'
			,auto: true
			//,multiple: true
			,bindAction: '#test9'
			,done: function(res){
			  console.log(res)
			},error: function(){
		    	//演示失败状态，并实现重传
		    	var demoText = $('#demoText');
		    	demoText.html('<span style="color: #FF5722;">上传失败</span>');
		    }
		});
	});
	
	function Save(){
		var array_list = ["A","B","C","D","E","F"]
		var save_option_array =[]
		var save_answer_array = []
		$.each(array_list,function(index,value){
		  	var option = {
				OptionType:0,
				OptionDesc:"",
				OptionKey:value,
			}
			option.OptionType = 0;
			option.OptionDesc = $("#Answer"+value).val();
			if (option.OptionDesc.trim().length == 0){
				return
			}

			save_option_array.push(option)

		}); 
		
		$("input:checkbox[name=answer]:checkbox:checked").each(function(){
			
			if ($("#Answer"+$(this).val()).val().trim().length == 0){
				return
			}
			save_answer_array.push($(this).val())
		})
		
		
		console.log(save_answer_array)
		console.log(save_option_array)
		
		console.log(JSON.stringify(save_option_array))
		console.log(save_answer_array.join(':'))
		console.log($("#title").val())
		console.log(question.Id)
		
		var post_body = {
			QuestionId : question.Id,
			Title: $("#title").val(),
			Answer:save_answer_array.join(':'),
			Options:JSON.stringify(save_option_array),
			CourseId:parseInt(question.CourseId),
		}
		
		$.ajax({
			"type":         "post",
			"contentType":  "application/json",
			"url":          "/question/update",
			"data": JSON.stringify(post_body),
			"datatype":     "json",
			"success":   function (resp, textstatue) {
				console.log(resp)
				if (resp['code'] == 0){
					console.log("save success")					
					parent.layer.close(index);
					parent.layer.msg("save success!",{icon:1,time:1000});
					parent.FlushData()
				}else{
					layer.msg("error:" + resp["msg"],{icon:2,time:1000});
				}
			},
			"error":function(){
				layer.msg("ajax error!",{icon:2,time:1000});
			}
		}); 
	}
</script>

</body>
</html>
